/* .featured-card {
  display: flex; 
  
}


.featured-title {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
}

.featured-image {
  border-radius: 30px;
  width: 400px;
} */




/* div NavLink {
  display: flex; 
} */


