p.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 10px 30px 10px; 
  font-size: 15px; 
}

.chosenPage {
  font-weight: bolder;
  font-size: 20px; 
}

p span {
  padding: 10px 25px 10px 25px; 
  border: 1px solid black; 
  text-align: center;
}