body {
  /* margin: 100px; 
  margin: 0% 10%; 
  margin-bottom: 50px;  */
  background-color: #ece3ce;
  margin: 0px;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lora", serif;
}
